.templatemo_content_right {
	float: right;
	width: 670px;
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(http://localhost:5173/recource/images/templatemo_btn_02.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.buy_now_button button{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(http://localhost:5173/recource/images/templatemo_btn_02.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(http://localhost:5173/recource/images/templatemo_btn_01.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.detail_button button{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(http://localhost:5173/recource/images/templatemo_btn_01.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.error {
    color: red;
}

h1 {
    color:  #969547;
}